{
  "money" : {
    "representativeItem" : "money",
    "playerMax" : 9999999
  },
  "essence" : {
    "representativeItem" : "essence",
    "playerMax" : 999999
  },
  "primaryRound" : {
    "representativeItem" : "primaryRound",
    "playerMax" : 9999999
  },
  "secondaryRound" : {
    "representativeItem" : "secondaryRound",
    "playerMax" : 9999999
  },
  "energyRound" : {
    "representativeItem" : "energyRound",
    "playerMax" : 9999999
  }
}
